<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
  <head th:replace="layout :: head"> </head>
  <body>
    <header th:replace="layout :: header"></header>

    <div class="container">
      <h2 class="text-center">Nuevo cliente</h2>
      <div class="row d-flex justify-content-center">
        <form
          th:action="@{/clientes/create}"
          th:object="${cliente}"
          method="POST"
          class="col-12"
        >
          <div class="form-row">
            <div class="form-group col">
              <label for="inputNombre">Nombre</label>
              <input
                type="text"
                class="form-control"
                id="inputNombre"
                placeholder="Ingresar nombre"
                th:field="*{nombre}"
              />
              <small
                class="form-text text-danger"
                th:if="${#fields.hasErrors('nombre')}"
                th:errors="*{nombre}"
              ></small>
            </div>
            <div class="form-group col">
              <label for="inputApellido">Apellido</label>
              <input
                type="text"
                class="form-control"
                id="inputApellido"
                placeholder="Ingresar apellido"
                th:field="*{apellido}"
              />
              <small
                class="form-text text-danger"
                th:if="${#fields.hasErrors('apellido')}"
                th:errors="*{apellido}"
              ></small>
            </div>
          </div>
          <div class="form-group">
            <label for="inputDNI">DNI</label>
            <input
              type="text"
              class="form-control"
              id="inputDNI"
              placeholder="Ingresar DNI"
              th:field="*{dni}"
            />
            <small
              class="form-text text-danger"
              th:if="${#fields.hasErrors('dni')}"
              th:errors="*{dni}"
            ></small>
          </div>
          <div class="form-group">
            <label for="inputEmail">Email</label>
            <input
              type="text"
              class="form-control"
              id="inputEmail"
              placeholder="Ingresar email"
              th:field="*{email}"
            />
            <small
              class="form-text text-danger"
              th:if="${#fields.hasErrors('email')}"
              th:errors="*{email}"
            ></small>
          </div>
          <div class="form-group">
            <label for="inputTel">Telefono</label>
            <input
              type="text"
              class="form-control"
              id="inputTel"
              placeholder="Ingresar telefono"
              th:field="*{telefono}"
            />
            <small
              class="form-text text-danger"
              th:if="${#fields.hasErrors('telefono')}"
              th:errors="*{telefono}"
            ></small>
          </div>
          <div class="form-group">
            <label for="inputTipo">Tipo</label>
            <select th:field="*{tipo}" id="inputTipo" class="form-control">
              <option
                th:each="tipo : ${tipos}"
                th:value="${tipo.getId_tipo}"
                th:text="${tipo.getDescripcion}"
              ></option>
            </select>
          </div>
          <div class="d-flex justify-content-center mt-3">
            <button type="submit" class="btn btn-dark">
              Registrar cliente
            </button>
          </div>
        </form>
      </div>
    </div>

    <div th:replace="layout :: scripts"></div>
  </body>
</html>
