<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
  <head th:replace="layout :: head"> </head>
  <body>
    <header th:replace="layout :: header"></header>

    <div class="container">
      <h2 class="text-center">Nuevo vehiculo</h2>
      <div class="row d-flex justify-content-center">
        <form
          th:action="@{/vehiculos/create}"
          th:object="${vehiculo}"
          method="POST"
          class="col-12"
        >
          <div class="form-row">
            <div class="form-group col">
              <label for="inputPatente">Patente</label>
              <input
                type="text"
                class="form-control"
                id="inputPatente"
                placeholder="Ingresar patente"
                th:field="*{patente}"
              />
              <small
                class="form-text text-danger"
                th:if="${#fields.hasErrors('patente')}"
                th:errors="*{patente}"
              ></small>
            </div>
            <div class="form-group col">
              <label for="inputMarca">Marca</label>
              <input
                type="text"
                class="form-control"
                id="inputMarca"
                placeholder="Ingresar marca"
                th:field="*{marca}"
              />
              <small
                class="form-text text-danger"
                th:if="${#fields.hasErrors('marca')}"
                th:errors="*{marca}"
              ></small>
            </div>
          </div>
          <div class="form-group">
            <label for="inputModelo">Modelo</label>
            <input
              type="text"
              class="form-control"
              id="inputModelo"
              placeholder="Ingresar modelo"
              th:field="*{modelo}"
            />
            <small
              class="form-text text-danger"
              th:if="${#fields.hasErrors('modelo')}"
              th:errors="*{modelo}"
            ></small>
          </div>
          <div class="form-group">
            <label for="inputYear">Año</label>
            <input
              type="text"
              class="form-control"
              id="inputYear"
              placeholder="Ingresar año"
              th:field="*{year}"
            />
            <small
              class="form-text text-danger"
              th:if="${#fields.hasErrors('year')}"
              th:errors="*{year}"
            ></small>
          </div>
          <div class="form-group">
            <label for="inputColor">Color</label>
            <input
              type="text"
              class="form-control"
              id="inputColor"
              placeholder="Ingresar color"
              th:field="*{color}"
            />
            <small
              class="form-text text-danger"
              th:if="${#fields.hasErrors('color')}"
              th:errors="*{color}"
            ></small>
          </div>
          <div class="form-group">
            <label for="inputCliente">Dueño</label>
            <select
              th:field="*{cliente}"
              id="inputCliente"
              class="form-control"
            >
              <option
                th:each="cliente : ${clientes}"
                th:value="${cliente.getId_cliente}"
                th:text="${cliente.getNombre} + ' ' + ${cliente.getApellido}"
              ></option>
            </select>
          </div>
          <div class="d-flex justify-content-center mt-3">
            <button type="submit" class="btn btn-dark">
              Registrar vehiculo
            </button>
          </div>
        </form>
      </div>
    </div>

    <div th:replace="layout :: scripts"></div>
  </body>
</html>
