<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
  <head th:replace="layout :: head"> </head>
  <body>
    <header th:replace="layout :: header"></header>

    <div class="container">
      <h2 class="text-center">Nueva inspeccion</h2>
      <div class="row d-flex justify-content-center">
        <form
          th:action="@{/inspecciones/create}"
          th:object="${inspeccion}"
          method="POST"
          class="col-12"
        >
          <div class="form-group">
            <label for="inputInspector">Inspector</label>
            <select
              th:field="*{inspector}"
              id="inputInspector"
              class="form-control"
            >
              <option
                th:each="inspector : ${inspectores}"
                th:value="${inspector.getLegajo}"
                th:text="${inspector.getNombre} + ' ' + ${inspector.getApellido}"
              ></option>
            </select>
          </div>
          <div class="form-group">
            <label for="inputVehiculo">Vehiculo</label>
            <select
              th:field="*{vehiculo}"
              id="inputVehiculo"
              class="form-control"
            >
              <option
                th:each="vehiculo : ${vehiculos}"
                th:value="${vehiculo.getPatente}"
                th:text="${vehiculo.getPatente}"
              ></option>
            </select>
          </div>
          <div class="d-flex justify-content-center mt-3">
            <button type="submit" class="btn btn-dark">
              Iniciar inspeccion
            </button>
          </div>
        </form>
      </div>
    </div>

    <div th:replace="layout :: scripts"></div>
  </body>
</html>
