<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
  <head th:replace="layout :: head"> </head>
  <body>
    <header th:replace="layout :: header"></header>

    <div class="container">
      <h2 class="text-center">Actualizar inspector</h2>
      <div class="row justify-content-center">
        <form
          th:action="@{/inspectores/update}"
          th:object="${inspector}"
          method="POST"
          class="col-8"
        >
          <input
            type="hidden"
            class="form-control"
            th:field="*{dni}"
            th:placeholder="${inspector.getDni}"
            th:value="${inspector.getDni}"
          />
          <input
            type="hidden"
            class="form-control"
            th:field="*{legajo}"
            th:placeholder="${inspector.getLegajo}"
            th:value="${inspector.getLegajo}"
          />
          <div class="form-row">
            <div class="form-group col">
              <label for="inputNombre">Nuevo nombre</label>
              <input
                type="text"
                class="form-control"
                id="inputNombre"
                th:field="*{nombre}"
                th:placeholder="${inspector.getNombre}"
                th:value="${inspector.getNombre}"
              />
            </div>
            <div class="form-group col">
              <label for="inputApellido">Nuevo apellido</label>
              <input
                type="text"
                class="form-control"
                id="inputApellido"
                th:field="*{apellido}"
                th:placeholder="${inspector.getApellido}"
                th:value="${inspector.getApellido}"
              />
            </div>
          </div>
          <div class="form-group">
            <label for="inputEmail">Nuevo email</label>
            <input
              type="text"
              class="form-control"
              id="inputEmail"
              th:field="*{email}"
              th:placeholder="${inspector.getEmail}"
              th:value="${inspector.getEmail}"
            />
          </div>
          <div class="form-group">
            <label for="inputTel">Nuevo telefono</label>
            <input
              type="text"
              class="form-control"
              id="inputTel"
              th:field="*{telefono}"
              th:placeholder="${inspector.getTelefono}"
              th:value="${inspector.getTelefono}"
            />
          </div>
          <div class="d-flex justify-content-center mt-3">
            <button type="submit" class="btn btn-dark">Actualizar</button>
          </div>
        </form>
      </div>
    </div>

    <div th:replace="layout :: scripts"></div>
  </body>
</html>
